.post-it svg {
  display: inline;
  margin-left: 10px;
}

.post-it h2 {
  padding: 0;
}

.post-it > div:first-child {
  padding: 10px;
}

#exhibition-overview .button {
  margin: 3px;
}

#exhibition-overview > div:first-child {
  flex: 1 1 auto;
  background-image: url(../../images/exhibitions.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: var(--logo-height);
}

#exhibition-overview .heading-box {
  margin: 3rem 0;
}

#exhibition-overview ul {
  float: right;
  margin-right: 1rem;
}

#covid {
  flex: 1 1 auto;
  background-image: url(../../images/covid.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 420px;
}

#covid .post-it {
  background-color: var(--section-color-5);
  flex-direction: column-reverse;
}

#robotics {
  flex: 1 1 auto;
  background-image: url(../../images/robotics.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
}

#robotics .post-it {
  background-color: var(--section-color-8);
  align-self: flex-end;
  display: flex;
}

#physics {
  flex: 1 1 auto;
  background-image: url(../../images/physics.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 400px;
}

#physics .post-it {
  background-color: var(--section-color-1);
}

#cosmology {
  flex: 1 1 auto;
  background-image: url(../../images/cosmology.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 400px;
}

#cosmology .post-it h2,
#cosmology .post-it {
  background-color: var(--section-color-7);
  color: var(--cosmology-text-color);
}

#cosmology .post-it {
  align-self: flex-end;
  display: flex;
}

#body {
  flex: 1 1 auto;
  background-image: url(../../images/medic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 400px;
}

#body .post-it h2,
#body .post-it {
  background-color: var(--section-color-10);
  color: var(--text-color-2);
}

#chemestry {
  flex: 1 1 auto;
  background-image: url(../../images/chemestry.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: var(--logo-height);
}

#chemestry .post-it h2,
#chemestry .post-it {
  background-color: var(--section-color-4);
  color: var(--text-color-2);
}

#chemestry .post-it {
  align-self: flex-end;
  display: flex;
}

#ecology {
  flex: 1 1 auto;
  background-image: url(../../images/ecology.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 300px;
}

#ecology .post-it {
  background-color: var(--section-color-3);
}
