.post-it svg {
  display: inline;
  margin-left: 10px;
}

.post-it h2 {
  padding: 0;
}

.post-it > div:first-child {
  padding: 10px;
}

main .img,
main > section:not(#exhibition-overview),
#exhibition-overview > div:first-child {
  flex: 1 1 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#exhibition-overview .button {
  margin: 3px;
}

#exhibition-overview > div:first-child {
  background-image: url(../../images/exhibitions.jpg);
  padding-top: var(--logo-height);
}

#exhibition-overview .heading-box {
  margin: 3rem 0;
}

#exhibition-overview ul {
  float: right;
  margin-right: 1rem;
  margin-bottom: 40px;
}

#covid,
#covid .img {
  background-image: url(../../images/covid.jpg);
}

#covid .post-it {
  height: initial;
  background-color: var(--section-color-5);
  flex-direction: column-reverse;
}

#robotics,
#robotics .img {
  background-image: url(../../images/robotics.jpg);
}

#robotics .post-it {
  background-color: var(--section-color-8);
  align-self: flex-end;
  display: flex;
}

main > section#physics,
#physics .img {
  background-image: url(../../images/physics.jpg);
  background-position-x: left;
}

#physics .post-it {
  background-color: var(--section-color-1);
}

main > section#cosmology {
  background-image: url(../../images/cosmology.jpg);
  background-position-x: -160px;
}

#cosmology .img {
  background-image: url(../../images/cosmology.jpg);
}

#cosmology .post-it h2,
#cosmology .post-it {
  background-color: var(--section-color-7);
  color: var(--cosmology-text-color);
}

#cosmology .post-it {
  align-self: flex-end;
  display: flex;
}

#body,
#body .img {
  background-image: url(../../images/medic.jpg);
}

#body .post-it h2,
#body .post-it {
  background-color: var(--section-color-10);
  color: var(--text-color-2);
}

#chemestry,
#chemestry .img {
  background-image: url(../../images/chemestry.jpg);
}

#chemestry .post-it h2,
#chemestry .post-it {
  background-color: var(--section-color-4);
  color: var(--text-color-2);
}

#chemestry .post-it {
  align-self: flex-end;
  display: flex;
}

#ecology,
#ecology .img {
  background-image: url(../../images/ecology.jpg);
}

#ecology .post-it {
  background-color: var(--section-color-3);
}

#electricity,
#electricity .img {
  background-image: url(../../images/electricity.jpg);
}

#electricity .post-it {
  background-color: var(--section-color-9);
}

.post-it > div:first-child {
  padding: 40px;
}

@media screen and (min-width: 900px) {
  main {
    display: grid;
    grid-template:
      "a"
      "." 1fr
      "." 1fr
      "." 1fr
      "." 1fr
      "." 1fr
      "." 1fr
      "." 1fr
      "." 1fr;
  }


  #covid .post-it > div:first-child {
    flex-grow: 1;
  }

  .post-it > div:first-child {
    padding: 0;
  }

  .post-it > .info-label {
    margin-left: calc(-1 * var(--grid-post-it-padding, 0));
    margin-top: calc(-1 * var(--grid-post-it-padding, 0));
    margin-bottom: calc(var(--grid-post-it-padding, 0) / 2);
    width: calc(100% + var(--grid-post-it-padding, 0) * 2);
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template:
      "a a"
      ". ." 1fr
      ". ." 1fr
      ". ." 1fr
      ". ." 1fr
      /1fr 1fr;
  }
}
