.post-it h2 {
  font-size: 2rem;
}

#visiting-professor > div:first-child,
#night > div:first-child,
#energetica > div:first-child,
#see-all-exhibitions {
  flex: 1 1 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#welcome-section .post-it h2 {
  font-size: 3rem;
  margin: 0;
}

#welcome-section .post-it {
  margin-top: 3rem;
}

#welcome-section{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/shop-open.jpg);
}

#welcome-section > div:first-child {
  flex: 1 1 150px;
  padding-top: var(--logo-height);
}

#opening-hours h2 {
  margin-top: 0;
}

#opening-hours {
  background-color: var(--section-color-7);
  color: var(--text-color-2);
}

#opening-hours .warning-box {
  margin: 0;
}

#visiting-professor > div:first-child {
  background-image: url(../../images/cosmology.jpg);
}
#visiting-professor .post-it,
#visiting-professor .text-box {
  background-color: var(--section-color-2);
}

#night > div:first-child {
  background-image: url(../../images/night-in-the-mueum.jpg);
  padding-top: 50px;
}

#night .text-box,
#night .post-it {
  background-color: var(--section-color-1);
}

#energetica > div:first-child {
  background-image: url(../../images/energetica.jpg);
  padding-top: 50px;
}

#energetica .text-box,
#energetica .post-it {
  background-color: var(--section-color-3);
}

#see-all-exhibitions {
  background-image: url(../../images/kusama.jpg);
}

#see-all-exhibitions .button {
  margin: 10px;
}

#welcome-section .width-limit {
  margin-top: 40px;
  margin-bottom: 80px;
}

#welcome-section .width-limit > .heading-box {
  margin-bottom: 0;
}

#welcome-section .width-limit .info-label p {
  width: 100%;
  text-align: right;
}

@media screen and (min-width: 900px) {
  .heading-box,
  .width-limit {
    width: 45vw;
    max-width: 600px;
  }

  #opening-hours{
    display: flex;
    flex-direction: column-reverse;
    background-color: inherit;
  }

  #opening-hours .text-box{
    background-color: black;
    width: fit-content;
    padding: 20px;
  }

  main > section:first-of-type{
      min-height: 100vh;
  }

  main > section:not(:first-of-type):not(:last-of-type) > *{
      flex: 0 1 50%;
  }
  
  main > section:not(:first-of-type):nth-child(odd) {
    flex-direction: row;
  }

  main > section:not(:first-of-type):nth-child(even) {
    flex-direction: row-reverse;
  }

  main > section:not(:first-of-type) .post-it{
    position: absolute;
    top: 40px;
    left: 40vw;
    width: 35vw;
    padding: 10px;
    height: inherit;
    box-sizing: border-box;
    flex-direction: column-reverse;
  }

  main > section:not(:first-of-type):nth-child(even) .post-it{
    left: 25vw;
  }

  main > section:not(:first-of-type) .post-it > .info-label{
    width: calc(100% + 20px);
    margin: -10px 0 10px -10px;
  }

  main > section:not(:first-of-type) .text-box{
    display: flex;
    justify-content: flex-end;
  }

  main > section:not(:first-of-type):nth-child(even) .text-box{
    justify-content: flex-start;
  }

  main > section:not(:first-of-type) .text-box > div{
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
  }

  #see-all-exhibitions{
    min-height: 100vh;
    flex-direction: row;
  }

  #see-all-exhibitions .heading-box{
    align-self: flex-start;
    margin-top: 15%;
  }

  #see-all-exhibitions ul{
    margin-right: 15vw;
    align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .post-it h2{
    font-size: 3rem;
    word-break: break-word;
    max-height: 25vh;
    overflow-y: auto;
  }

  .heading-box h2{
    font-size: 4rem;
  }
}