.post-it h2 {
  font-size: 2rem;
}

#welcome-section > div:first-child,
#visiting-professor > div:first-child,
#night > div:first-child,
#energetica > div:first-child,
#see-all-exhibitions {
  flex: 1 1 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#welcome-section .post-it h2 {
  font-size: 3rem;
  margin: 0;
}

#welcome-section .post-it {
  margin-top: 3rem;
}

#welcome-section > div:first-child {
  background-image: url(../../images/shop-open.jpg);
  padding-top: var(--logo-height);
}

#opening-hours h2 {
  margin-top: 0;
}

#opening-hours {
  background-color: var(--section-color-7);
  color: var(--text-color-2);
}

#opening-hours .warning-box {
  margin: 0;
}

#visiting-professor > div:first-child {
  background-image: url(../../images/cosmology.jpg);
}
#visiting-professor .post-it,
#visiting-professor .text-box {
  background-color: var(--section-color-2);
}

#night > div:first-child {
  background-image: url(../../images/night-in-the-mueum.jpg);
  padding-top: 50px;
}

#night .text-box,
#night .post-it {
  background-color: var(--section-color-1);
}

#energetica > div:first-child {
  background-image: url(../../images/energetica.jpg);
  padding-top: 50px;
}

#energetica .text-box,
#energetica .post-it {
  background-color: var(--section-color-3);
}

#see-all-exhibitions {
  background-image: url(../../images/kusama.jpg);
}

#see-all-exhibitions .button {
  margin: 10px;
}
