#support > div:first-child,
#volunteer > div:first-child,
#internship > div:first-child {
  flex: 1 1 var(--logo-height);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#support > div:first-child {
  background-image: url(../../images/support.jpg);
  padding-top: calc(var(--logo-height) + 85px);
}

#support .text-box {
  background-color: var(--section-color-9);
}

#volunteer > div:first-child {
  background-image: url(../../images/volenter.jpg);
}

#volunteer .text-box {
  background-color: var(--section-color-1);
}

#internship > div:first-child {
  background-image: url(../../images/inturn.jpg);
}

#internship .text-box {
  background-color: var(--section-color-3);
}
