#join > div:first-child {
  flex: 1 1 auto;
  background-image: url(../../images/explore-together.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: calc(var(--logo-height) + 145px);
}

#join .text-box {
  background-color: var(--section-color-1);
}

#join .text-box > div:first-child{
  margin-bottom: 30px;
}

#join .button{
  width: 100%;
}