main > section:not(#opening-hours),
#opening-hours > div:first-child {
  flex: 1 1 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-it svg {
  display: inline;
  margin-left: 10px;
}

.post-it h2 {
  padding: 0;
}

.post-it {
  padding: 10px;
  box-sizing: border-box;
}

#opening-hours > div:first-child {
  background-image: url(../../images/museum.jpg);
  padding-top: calc(var(--logo-height) + 40px);
}

#opening-hours .post-it {
  background-color: var(--section-color-8);
}

#location {
  background-image: url(../../images/map\ kopi.jpg);
}

#location .post-it {
  background-color: var(--section-color-9);
}

#café {
  background-image: url(../../images/cafe.jpg);
}

#café .post-it {
  background-color: var(--section-color-1);
}

#café .post-it svg,
#shop .post-it svg {
  padding-bottom: 10px;
}

#shop {
  background-image: url(../../images/shop.jpg);
}

#shop .post-it {
  background-color: var(--section-color-3);
}

#accessibility {
  background-image: url(../../images/accsessibility.jpg);
}

#accessibility .post-it {
  background-color: var(--section-color-6);
}
