html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

a {
  color: var(---link-color);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--link-hover-color);
}

a:focus path,
a:hover path {
  fill: var(--link-hover-color);
}

a.top-link:focus path,
a.top-link:hover path {
  fill: inherit;
  stroke: var(--link-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.info-lable p,
.heading,
.big-heading {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--heading-color);
  text-decoration: none;
  margin: 0;
}

h1,
.big-heading {
  font-size: 3rem;
  margin: 10px;
}

h2 {
  font-size: 1.25rem;
  padding: 5px 0;
}

.heading {
  font-size: 1rem;
}

.info-lable p {
  color: var(--text-color-2);
  font-size: 0.75rem;
  padding: 0 5px;
  margin: 0.5rem;
}

.text-color-2 {
  color: var(--text-color-2);
}
