body {
  margin: 0;
}

.screen-reader-only {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  clip: rect(0, 0, 1px, 1px) !important;
}

.post-it {
  position: relative;
  max-width: 355px;
}

.text-box {
  padding: 1rem;
}

.text-box > *:first-child {
  margin-top: 0;
}

.heading-box {
  background-color: var(--heading-background);
  position: relative;
  max-width: 355px;
}

.info-label {
  background-color: var(--section-color-7);
  color: var(--text-color-2);
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 2.5rem;
}

.info-label p {
  position: relative;
  width: 80%;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-end {
  align-self: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Mulighet til å bruke splitwrapper??

.split-wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.split-80 {
  position: relative;
  width: 80%;
}

.split-70 {
  position: relative;
  width: 70%;
}

.split-60 {
  position: relative;
  width: 60%;
}

.split-50 {
  position: relative;
  width: 50%;
}

.split-40 {
  position: relative;
  width: 40%;
}

.split-30 {
  position: relative;
  width: 30%;
}

.split-20 {
  position: relative;
  width: 20%;
}
*/
