:root {
  /*box-colors*/
  --heading-background: #fdea44;

  --section-color-1: #fda62d;
  --section-color-2: #3cc4be;
  --section-color-3: #78e269;
  --section-color-4: #1579CB;
  --section-color-5: #ffd8f1;
  --section-color-6: #e3e3e3;
  --section-color-7: #000000;
  --section-color-8: #D1423D;
  --section-color-9: #fdea44;
  --section-color-10: #1C827D;
  

  /*button*/
  --button-color: #000000;
  --button-text-color: #ffffff;

  /*text-colors*/
  --text-color-1: #000000;
  --text-color-2: #ffffff;

  --cosmology-text-color: #c9a049;
  --link-color: #fdea44;
  --heading-color: #000000;

  /*warning-box*/
  --worning-text-color: #cc040a;
  --warning-box-background: #fdea44;

  /*hover/focus-colors*/
  --hover-color: #3f3f3f;
  --link-hover-color: #fda62d;

  /*sizes*/
  --logo-height: 130px;
  --grid-post-it-padding: 80px;
}
