.button {
  display: inline-block;
  min-width: 12rem;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 20px 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--hover-color);
  color: var(--button-text-color);
}
