#skiplink a{
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

#skiplink a:focus {
  top: var(--logo-height);
  left: 2px;
  clip: auto;
  z-index: 9999;
  padding: 10px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  text-decoration: none;
  height: auto;
  width: auto;
}

#logo:focus #logo-background,
#logo:hover #logo-background,
#menu-button:focus rect,
#menu-button:hover rect {
  fill: var(--hover-color);
}

#logo {
  position: absolute;
  z-index: 1;
  top: 0;
  height: var(--logo-height);
}

#logo svg {
  height: 100%;
  width: auto;
}

#logo svg path:last-of-type {
  fill: white;
}

#menu-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 50px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#menu-button svg {
  height: 100%;
  width: auto;
}

#menu-button.open rect {
  fill: white;
}

#menu-button.open:hover rect,
#menu-button.open:focus rect {
  fill: #ddd;
}

#menu-button.open path {
  stroke: black;
}

#menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
}

#menu ul {
  margin-top: 50px;
}

#menu li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 50px 2px 10px;
}

#menu li a:hover,
#menu li a:focus {
  color: white;
  background-color: black;
}

#menu li a.active{
  color: var(--link-color);
  background-color: black;
}

#menu.open-menu {
  display: block;
  animation: slide-from-top 0.5s forwards;
}

#close-menu {
  position: fixed;
  left: 0;
  top: 0;
  clip: rect(0, 0, 0, 0);
}

#close-menu:focus {
  clip: auto;
  padding: 10px;
  color: var(--link-color);
  background-color: black;
  box-sizing: border-box;
  padding: 2px 50px 2px 10px;
  left: auto;
  top: auto;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  border-style: none;
  font-size: 1rem;
}

@keyframes slide-from-top {
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 900px) {
  #menu-button, #close-menu{
    display: none;
  }

  #menu{
    display: block;
    transform: none;
    width: calc(100vw - var(--logo-height) - 20px);
  }

  #menu ul {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
  }

  #menu li {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
  }

  #menu li a {
    color: var(--text-color-2);
    padding: 0;
  }

  #menu li a:hover,
  #menu li a:focus {
    color: var(--link-color);
  }
}